@font-face {
	font-family: 'neon';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ubuntu/kit/ubuntu-regular-webfont.woff2') format('woff2'),url('../fonts/ubuntu/kit/ubuntu-regular-webfont.woff') format('woff');
}
html,html[theme=light] {
	--box-background-color: hsl(0, 0%, 90%);
	--highlight-color: hsl(0, 0%, 80%);
	--light-border-color: hsl(0, 0%, 80%);
	--light-text-color: hsl(0, 0%, 35%);
	--link-color: hsl(200, 81%, 35%);
	--link-color-visited: hsl(250, 100%, 37%);
	--main-background-color: hsl(0, 5%, 95%);
	--main-text-color: hsl(0, 0%, 0%);
	--sidebar-color: hsl(0, 0%, 90%);
	--tag-color: hsl(0, 10%, 90%);
}
html[theme=dark] {
	--box-background-color: hsl(0, 0%, 20%);
	--highlight-color: hsl(0, 0%, 60%);
	--light-border-color: hsl(0, 0%, 30%);
	--light-text-color: hsl(0, 0%, 60%);
	--link-color: hsl(200, 81%, 60%);
	--link-color-visited: hsl(250, 100%, 60%);
	--main-background-color: hsl(0, 0%, 10%);
	--main-text-color: hsl(0, 10%, 80%);
	--tag-color: hsl(0, 10%, 0%);
}
@media (prefers-color-scheme: dark) {
	html[theme=dark] {
		--box-background-color: hsl(0, 0%, 20%);
		--highlight-color: hsl(0, 0%, 60%);
		--light-border-color: hsl(0, 0%, 30%);
		--light-text-color: hsl(0, 0%, 60%);
		--link-color: hsl(200, 81%, 60%);
		--link-color-visited: hsl(250, 100%, 60%);
		--main-background-color: hsl(0, 0%, 10%);
		--main-text-color: hsl(0, 10%, 80%);
		--tag-color: hsl(0, 10%, 0%);
	}
	html[theme=light] {
		--box-background-color: hsl(0, 0%, 90%);
		--highlight-color: hsl(0, 0%, 80%);
		--light-border-color: hsl(0, 0%, 80%);
		--light-text-color: hsl(0, 0%, 35%);
		--link-color: hsl(200, 81%, 35%);
		--link-color-visited: hsl(250, 100%, 37%);
		--main-background-color: hsl(0, 5%, 95%);
		--main-text-color: hsl(0, 0%, 0%);
		--sidebar-color: hsl(0, 0%, 90%);
		--tag-color: hsl(0, 10%, 90%);
	}
}
: root {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
  background-color: var(--main-background-color);
}

.highlight,
.wy-body-for-nav,
.wy-nav-content-wrap,
.wy-nav-content {
  background-color: var(--main-background-color);
}

footer p {
    margin-bottom: 1px;
    font-size: 7px;
}

.wy-side-nav-search {
    display: block;
    width: inherit;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: var(--light-border-color);
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em;
}
.wy-menu-vertical a {
  color: var(--main-text-color);
}

.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 0px;
    padding: 6px 12px;
    border-color: #2472a4;
}

body {
	width: inherit;
	margin: 3% auto 0 auto;
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
	font-size: 18px;
	min-width: 5px;
	max-width: 1090px;
  max-height: auto;
}

.wy-nav-side {
	  display: contents;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    padding-bottom: 0em;
		margin: 130px auto auto auto;
    width: 315px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    color: rgba(0,0,0,0.05);
    z-index: 200;
    padding-top: 3px;
		background: var(--main-background-color);
}

.wy-grid-for-nav {
    position: inherit;
    width: 100%;
    height: inherit;
    max-width: 1090px;
		margin-top: 3px;
		display: -webkit-inline-box;
}
.wy-nav-content-wrap {
	display: block;
	margin-left: 0px;
}
.wy-side-scroll {
    width: inherit;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.wy-menu-vertical {
    width: inherit;
}
.wy-nav-content {
    padding: 1em 2em;
    height: 100%;
    margin: auto;
}
.wy-menu-vertical a {
    font-size: 75%;
}

div {
	color: var(--main-text-color);
	background-color: var(--main-background-color);
	font-feature-settings: "kern";
	font-family: "neon";
}

div.footertag {
    width: inherit;
    padding-top: 1em;
    border-top-color: var(--main-text-color);
    border-top: 1px solid;
    text-align: center;
    font-size: .8em;
    padding: 0 0 0 0;
    color: #888;
    background-color: var(--main-background-color);
    font-feature-settings: "kern";
    font-family: "neon";
    font-size: 10px;
}

div.sub-title-menu {
	display: block;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-feature-settings: "kern"on;
  font-family: "neon";
  font-size: 16px;
  min-width: 35%;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

div.sub-title-menu table {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: var(--link-color);
    background-color: var(--main-background-color);
		display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
}

th {
    text-align: left;
    padding-right: 5px;
		margin-top: 0;
    margin-bottom: 6px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    float: right;
    padding-left: 3em;
}

th.menu-label {
    display: ruby;
		margin-top: 0;
    margin-bottom: 1em;
		text-align: left;
		padding-right: 5px;
		display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

div.sub-title-menu a {
    font-weight: 700;
    margin: 0 0 0 0;
    margin-left: 0px;
    margin-left: 0px;
    color: var(--link-color);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .05em;
    margin-left: 0;
		text-align: justify;
		line-height: 1.0em;
}

.icon {
		display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

h1.pages_title {
    display: flex;
    margin: 1em 0 0.25em 0;
    font-family: "neon";
    font-size: 180%;
    margin-top: 0;
    padding-top: 0;
    border-bottom-color: var(--main-text-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
		font-weight: normal;
}

div.version {
    color: var(--link-color);
    font-feature-settings: "kern";
    font-family: "neon";
		text-align: center;
		background-color: var(--light-border-color);
}

.wy-side-nav-search > div.version {
		color: var(--link-color);
}

.rst-versions .rst-other-versions dd a {
    display: inline-block;
    padding: 6px;
    color: var(--main-text-color);
}

.rst-versions {
    position: inherit;
    bottom: 0;
    left: 0;
    width: inherit;
    color: #fcfcfc;
    background: var(--highlight-color);
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    z-index: 400;
}

.rst-versions .rst-current-version {
    padding: 12px;
    background-color: var(--box-background-color);
    display: block;
    text-align: right;
    font-size: 90%;
    cursor: pointer;
    color: #27ae60;
    *zoom: 1;
}
.rst-versions.shift-up .rst-other-versions {
    display: contents;
}

@media only screen and (max-width: 1090px) {
	body {
		width: auto;
		margin: 1% auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: auto;
		max-width: 750px;
		padding-top: 40px;
	}
	div.sub-title-menu {
		width: 100%;
		margin: 0 0% 0 0%;
		padding: 0 0 0 0;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern"on;
		font-family: "neon";
		font-size: 16px;
		max-width: inherit;
		border-bottom-color: var(--main-text-color);
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
		display : block;
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: 100%;
	}
	img.align-center {
		width : auto;
		height : auto;
	}
	th.menu-label {
		display: none;
	}
	.blog-posts-details {
		display: grid;
	}
	div.sub-title-menu a {
		font-size: 30px;
	}
	ul.github-buttons {
		display: inline-block;
	}
	div.sub-title-menu .fa {
		font-size: xxx-large;
	}
	nav.wy-nav-side {
    padding-bottom: 3em;
	}
	.wy-nav-side {
	    position: absolute;
	    top: 0;
	    bottom: 0;
			left: auto;
	    padding-bottom: 2em;
			margin: 115px auto auto auto;
	    width: 300px;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    min-height: 100%;
	    color: #9b9b9b;
	    z-index: 200;
	}
	.wy-nav-side.shift {
		width: 310px;
		left: 0;
	}
	.wy-nav-content {
    padding: 1px 15px;
    height: 100%;
    max-width: inherit;
    margin: auto;
	}
	.wy-nav-content-wrap {
	    width: 460px;
	    display: block;
	    margin-left: 0px;
	}
}
@media only screen and (max-width: 768px) {
	body {
		width: auto;
		margin: 1% auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: 400px;
		max-width: 550px;
		padding-top: 40px;
	}
	div.sub-title-menu {
		width: inherit;
		margin: 0 0% 0 0%;
		padding: 0 0 0 0;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern"on;
		font-family: "neon";
		font-size: 16px;
		max-width: inherit;
		border-bottom-color: var(--main-text-color);
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	th.menu-label {
		display: none;
	}
	div.sub-title-menu .fa {
		font-size: xx-large;
	}
	th.github-badge {
		display: contents;
	}
	div.highlight > pre {
		width: 90%;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
		display : block;
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: 100%;
	}

	.wy-nav-content-wrap {
	    width: auto;
	    display: block;
	    margin-left: 0px;
	}

	.wy-nav-side {
    display: block;
    position: fixed;
    left: -325px;
	}
	.wy-nav-side.shift {
		width: 300px;
    left: auto;
		top: 25px;
    position: absolute;
  }
	.wy-nav-content-wrap.shift {
	    position: relative;
	    min-width: 100%;
	    left: 305px;
	    top: 0;
	    height: 100%;
	    overflow: hidden;
	}
}
@media only screen and (max-width: 480px) {
	body {
		width: auto;
		margin: 0 auto 0 auto;
		color: var(--main-text-color);
		background-color: var(--main-background-color);
		font-feature-settings: "kern";
		font-family: "neon";
		font-size: 16px;
		min-width: 250px;
		max-width: 450px;
		padding: 20px 30px;
		display:block;
    padding-top: 40px;
	}
	div.latest-posts img {
		display: none;
		max-width: inherit;
		height: auto;
		margin: 0 auto;
		border: 0px solid var(--light-border-color);
	}
	th.menu-label {
		display: none;
	}
	table.highlighttable td.code {
		padding: 0 0.05em 0 0.05em;
	}
	div.posts-categories ul {
		display: grid;
		margin: 0 10% 0 10%;
	}
	div.posts-categories li.toctree-l3 {
		margin: 0 0 0 10%;
	}
	div.posts-tags ul {
		display: grid;
		margin: 0 10% 0 10%;
	}
	div.posts-tags li.toctree-l3 {
		margin: 0 0 0 10%;
	}
	div.sub-title table {
		text-align: left;
		padding-right: 5px;
		display: contents;
	}
	table.highlighttable {
		margin-left: 0.005em;
		width: inherit;
	}
	@supports (-moz-appearance:none) {
		table.highlighttable {
			width: -moz-available;
		}
	}
	div.highlight {
		background-color: var(--main-background-color);
		width: 100%;
	}
	div.sub-title-menu {
	    width: inherit;
	    margin: 0 0% 0 0%;
	    padding: 0 0 0 0;
	    color: var(--main-text-color);
	    background-color: var(--main-background-color);
	    font-feature-settings: "kern"on;
	    font-family: "neon";
	    font-size: 16px;
	    max-width: inherit;
	    border-bottom-color: var(--main-text-color);
	    border-bottom-width: 1px;
	    border-bottom-style: solid;
	}
	div.sub-title-menu .fa {
    font-size: x-large;
	}
	th {
	    text-align: left;
	    padding-right: 3px;
	}
		.wy-nav-side {
	    left: -325px;
		}
		.wy-nav-content-wrap {
		    width: inherit;
		}
		.wy-nav-side.shift {
			width: 235px;
			top: auto;
			display: contents;
	  }
		.wy-nav-content-wrap.shift {
			  width: 110px;
			  min-width: auto;
		    left: 5px;
		}
}

@media only screen and (max-width: 350px) {
	div.sub-title-menu .fa {
    font-size: large;
	}
	th.github-badge {
		display: contents;
	}
	nav.wy-nav-side {
    padding-bottom: 3em;
	}
	div.sub-title-menu table {
	    margin: 0 0px 0 -15px;
	}
	.wy-nav-content-wrap {
	    width: inherit;
	    display: block;
	    margin-left: 0px;
	}
		.wy-nav-side {
	    left: -325px;
		}
		.wy-nav-side.shift {
			width: 135px;
	    top: 55px;
	  }
		.wy-nav-content-wrap.shift {
			width: 115px;
		  left: 5px;
		}
}
